.nav {
  height: 100px;
  width: 90%;
  margin: 0 auto;
}

  .nav a {
    font-size: 1.25rem;
  }

  .nav a:not(:last-child) {
    padding: 0 1.5em 0 0;
  }

  .nav a:hover {
    transition-duration: 0.3s;
    color: var(--accent-green);
  }

.navLeft {
  margin: 0 0 1rem;
}

.navRight {

}

@media (min-width: 768px) {
  .nav {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navLeft {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
  }
  
  .navRight {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}